<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb">
        <a href ng-click="nav('plcaes')" class="tip-bottom"><i class="icon-home"></i> Places</a>
        <a href ng-click="nav('plcaes/add')" class="tip-bottom"> Add</a></div>
    <h1>Add Place</h1>
</div>
<!--End-breadcrumbs-->

<!--Action boxes-->
<div class="container-fluid"><hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
          <h5>Add new place</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Name</label>
              <div class="controls">
                <input ng-model="form.name" type="text" name="name" required placeholder="Building Name">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Description</label>
              <div class="controls">
                <textarea ng-model="form.description" type="text" name="description" required></textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Street</label>
              <div class="controls">
                <input ng-model="form.addressStreet" type="text" name="addressStreet" required >
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">City</label>
              <div class="controls">
                <input ng-model="form.addressCity" type="text" name="addressCity" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Postcode</label>
              <div class="controls">
                <input ng-model="form.addressPostcode" type="text" name="addressPostcode" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Country</label>
              <div class="controls">
                <input ng-model="form.addressCountry" type="text" name="addressCountry" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Parent Place</label>
              <div class="controls">
                <input type="button" class="btn" value="Select Parent Place" ng-click="select()" />
                <input ng-model="parentPlaceName" ng-show="parentPlaceName" type="text" disabled="true" name="name">
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" ng-click="add()" value="Add Place" ng-disabled="false" class="btn btn-success">
              <div ng-show="form">{{form}}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End-Action boxes-->
