<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb">
        <a href ng-click="nav('users')" class="tip-bottom"><i class="icon-home"></i> Users</a>
        <a href ng-click="nav('users/add')" class="tip-bottom"> Add</a></div>
    <h1>Add User</h1>
</div>
<!--End-breadcrumbs-->

<!--Action boxes-->
<div class="container-fluid"><hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
          <h5>Add new user</h5>
        </div>
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate" ng-validate="validationOptions">
            <div class="control-group">
              <label class="control-label">Your Name</label>
              <div class="controls">
                <input type="text" name="required" id="required">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Your Email</label>
              <div class="controls">
                <input type="text" name="email" id="email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Your Password</label>
              <div class="controls">
                <input type="text" name="email" id="email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Confirm your password</label>
              <div class="controls">
                <input type="text" name="email" id="email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Profile Image</label>
              <div class="controls">
                <input type="input" name="email" id="email">
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" value="Validate" class="btn btn-success">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End-Action boxes-->
