<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb">
        <a href ng-click="nav('dashboard')" class="tip-bottom"><i class="icon-home"></i></a>
        <a href ng-click="nav('events')" class="tip-bottom"> Events</a>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h1>Events</h1></div>
        <div class="span6">
            <h1><input type="button" class="btn btn-success pull-right" style="margin-right:20px;" value="Add Event" ng-click="nav('events/add')"/></h1></div>
    </div>
</div>
<!--End-breadcrumbs-->

<!--Action boxes-->
<div class="container-fluid">
    <div class="quick">
        <hr>
        <div class="widget-box" ng-if="events.length>0">
            <div class="widget-title"> <span class="icon"> <i class="icon-refresh"></i> </span>
                <h5>All Event</h5>
                <div id="search">
                    <input type="text" placeholder="Search here..." ng-model="searchText" style="color:black; background-color:white;">
                    <button type="submit" class="tip-bottom" data-original-title="Search"><i class="icon-search icon-white"></i></button>
                </div>
            </div>
            <table class="table">
                <tr ng-repeat="event in events | filter:searchText">
                    <td>
                        <div class="new-update clearfix"><i class="">
                          <img ng-src="{{event.image}}" ng-show="event.image" width="50px"/>
                          <img ng-hide="event.image"ng-src="app/img/default-location.png" width="50px"/></i>
                            <div class="update-done"><strong><a href ng-click="stateNav('events.info',{id: event._id})">{{event.name}}</a></strong>
                                <br>
                                <p>{{event.location.name}}</p>
                                <p style="display:none">{{event}}</p>
                            </div>
                            <div class="update-date"><span class="update-day">{{event.starts_at | date:'dd'}}</span>{{event.starts_at | date:'MMM'}}</div>
                        </div>
                    </td>
                    <td style="width:50px;">
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn dropdown-toggle btn-mini">Manage <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href ng-click="nav('events/edit/'+event._id)">Edit</a></li>
                                <li><a href ng-click="del(event)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="alert alert-info" ng-if="!events">
            Loading...
        </div>
        <div class="alert alert-info" ng-if="events.length==0">
            There are no events.
        </div>
    </div>
</div>
<!--End-Action boxes-->
