<!--Header-part-->
<div id="header">
  <h1><a>MALBT Dashboard</a></h1>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a href data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome {{user.name | capitalize}}</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href ng-click="nav('account')"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href ng-click="logout()"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>
  </ul>
</div>
<!--close-top-Header-menu-->

<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li ng-class="{active: LocationSplit(location) === 'dashboard'}"><a href ng-click="nav('dashboard')"><i class="icon icon-home"></i> <span>Dashboard {{menu}}</span></a> </li>
    <li class="submenu"> <a href ng-click="menuSet('users')"><i class="icon icon-th-list"></i> <span>Users</span></a>
      <ul ng-style="menu=='users' && {'display': 'block'}" ng-show="menu=='users' || LocationSplit(location) === 'users'">
        <li ng-class="{active: location === 'users'}"><a href ng-click="nav('users')">Manage Users</a></li>
        <li ng-class="{active: location === 'users.add'}"><a href ng-click="nav('users/add')">Add User</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href ng-click="menuSet('locations')"><i class="icon icon-th-list"></i> <span>Locations</span></a>
      <ul ng-style="menu=='locations' && {'display': 'block'}" ng-show="menu=='locations' || LocationSplit(location) === 'locations'">
        <li ng-class="{active: location === 'locations'}"><a href ng-click="nav('locations')">Manage Locations</a></li>
        <li ng-class="{active: location === 'locations.add'}"><a href ng-click="nav('locations/add')">Add Locations</a></li>
      </ul>
    </li>
    <li ng-class="{active: location === 'places'}"><a href ng-click="nav('places')"><i class="icon icon-th-large"></i> <span>Places</span></a> </li>
  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content" ui-view=""></div>
<!--end-main-container-part-->
<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2017 &copy; Dean Meehan </div>
</div>
