<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href ng-click="nav('users')" class="tip-bottom"><i class="icon-home"></i> Users</a></div>
    <h1>Locations</h1>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick">
      <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
              <h5>All Locations <a href ng-click="selectPlace()">Select Place</a></h5>
              <div id="search">
                <input type="text" placeholder="Search here..." ng-model="searchText" style="color:black; background-color:white;">
                <button type="submit" class="tip-bottom" data-original-title="Search"><i class="icon-search icon-white"></i></button>
              </div>
            </div>
            <div class="widget-content nopadding" ng-if="locations">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Services</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="location in locations | filter:searchText">
                    <td>{{location.name}}</td>
                    <td>{{location.description}}</td>
                    <td>{{location.type}}</td>
                    <th><span class="badge badge-info" ng-repeat="service in location.services">{{service.name}}</span>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="alert alert-info" ng-if="!locations">
              Loading...
            </div>
          </div>
    </div>
  </div>
<!--End-Action boxes-->
