<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a href ng-click="nav('dashboard')" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
</div>
<!--End-breadcrumbs-->

<!--Action boxes-->
<div class="container-fluid">
    <div class="quick-actions_homepage">
        <ul class="quick-actions">
            <li class="bg_lb">
                <a href> <i class="icon-dashboard"></i> <span class="label label-important">20</span> My Dashboard </a>
            </li>
        </ul>
    </div>

    <hr/>
    <div class="row-fluid">

        <!-- Left Side -->
        <div class="span6">

            <div class="widget-box">
                <div class="widget-title" data-toggle="collapse" href="#collapseG1"><span class="icon"><i class="icon-chevron-down"></i></span>
                    <h5>Your Upcoming Events</h5>
                </div>
                <div class="widget-content nopadding collapse in" id="collapseG1" ng-if="upcomingEvents">
                    <ul class="recent-posts">
                        <li ng-repeat="event in upcomingEvents">
                            <div class="user-thumb"> <img width="40" height="40" ng-src="{{event.image}}"> </div>
                            <div class="article-post">
                                <span class="user-info"> <b><a href>{{event.name}}</a></b><span class="pull-right">{{event.starts_at | date:'dd MMM, yy HH:mm'}} - {{event.ends_at | date:'HH:mm'}}</span></span>
                                <p>{{event.description}}</p>
                                <p>
                                    <button data-model="event.dropdown = false" ng-show="!event.dropdown" class="btn btn-mini" ng-class="{ 'btn-success': event.requestedUserStatus=='accepted', 'btn-danger': event.requestedUserStatus=='declined', 'btn-warning': event.requestedUserStatus=='invited'}"
                                        ng-click="event.dropdown = true">
                        <span ng-if="event.requestedUserStatus=='invited'">Please respond to invitation <span class="caret"></span></span>
                        <span ng-if="event.requestedUserStatus!='invited'">{{event.requestedUserStatus | capitalize}}</span></span>
                      </button>
                                    <button ng-click="updateEventStatus(event._id, 'accepted')" ng-if="event.dropdown" ng-show="event.dropdown" class="btn btn-success btn-mini">
                        <span>Accept</span>
                      </button>
                                    <button ng-click="updateEventStatus(event._id, 'declined')" ng-if="event.dropdown" ng-show="event.dropdown" class="btn btn-danger btn-mini">
                        <span>Decline</span>
                      </button>
                                </p>
                            </div>
                            <li>
                                <button class="btn btn-warning btn-mini">View All</button>
                            </li>
                    </ul>
                </div>
                <div class="widget-content" ng-if="!upcomingEvents">
                    You have no Upcoming Events
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
                    <h5>Your Past Events</h5>
                </div>
                <div class="widget-content nopadding collapse in" id="collapseG2" ng-if="pastEvents">
                    <ul class="recent-posts">
                        <li ng-repeat="event in pastEvents">
                            <div class="user-thumb"> <img width="40" height="40" ng-src="{{event.image}}"> </div>
                            <div class="article-post">
                                <span class="user-info"> <b><a href>{{event.name}}</a></b><span class="pull-right">{{event.starts_at | date:'dd MMM, yy HH:mm'}} - {{event.ends_at | date:'HH:mm'}}</span></span>
                                <p>{{event.description}}</p>
                            </div>
                            <li>
                                <button class="btn btn-warning btn-mini">View All</button>
                            </li>
                    </ul>
                </div>
                <div class="widget-content" ng-if="!pastEvents">
                    You have no Past Events
                </div>
            </div>

        </div>

        <!-- Right Side -->
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title" data-toggle="collapse" href="#collapseR1"><span class="icon"><i class="icon-chevron-down"></i></span>
                    <h5>Chart Test</h5>
                </div>
                <div class="widget-content collapse in" id="collapseR1">
                    <canvas id="pie" style="height:100px;" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options"></canvas>
                </div>
            </div>
        </div>
    </div>


    <!--End-Action boxes-->

</div>
