<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a href ng-click="nav('dashboard')" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
</div>
<!--End-breadcrumbs-->

<!--Action boxes-->
<div class="container-fluid">
    <div class="quick-actions_homepage">
        <ul class="quick-actions">
            <li class="bg_lb">
                <a href ng-click="stateNav('locations-info', {'id':'58f50684427da91fd4dc80b8'})" > <i class="icon-dashboard"></i>Location Info for Home Office</a>
            </li>
        </ul>
    </div>

    <hr/>
    <div class="row-fluid">

        <!-- Left Side -->
        <div class="span6">

            <div class="widget-box">
                <div class="widget-title" data-toggle="collapse" href="#collapseG1"><span class="icon"><i class="icon-chevron-down"></i></span>
                    <h5>Your Upcoming Events</h5>
                </div>
                <div class="widget-content nopadding collapse in" id="collapseG1" ng-if="upcomingEvents.length>0">
                    <ul class="recent-posts">
                        <li ng-repeat="event in upcomingEvents">
                            <div class="user-thumb">
                              <div back-img="{{event.image}}" style="width:40px;height:40px;"></div>
                            </div>
                            <div class="article-post">
                                <span class="user-info"> <b><a href ng-click="stateNav('events.info',{id: event._id})">{{event.name}}</a></b><span class="pull-right">{{event.starts_at | date:'dd MMM, yy HH:mm'}} - {{event.ends_at | date:'HH:mm'}}</span></span>
                                <p>{{event.description | limitTo: 200}}<span ng-if="event.description.length>200">...</span></p>
                                <p><span class="label" style="background-color:#1988b9">{{event.type | capitalize}}</span> at {{event.location.name | capitalize}}</p>
                            </div>
                          </li>
                    </ul>
                </div>
                <div class="widget-content" ng-if="upcomingEvents.length==0">
                    You have no Upcoming Events
                </div>
            </div>
            <div class="widget-box">
                <div class="widget-title" data-toggle="collapse" href="#collapseG2"><span class="icon"><i class="icon-chevron-down"></i></span>
                    <h5>Your Past Events</h5>
                </div>
                <div class="widget-content nopadding collapse in" id="collapseG2" ng-if="pastEvents.length>0">
                    <ul class="recent-posts">
                        <li ng-repeat="event in pastEvents">
                          <div class="user-thumb">
                            <div back-img="{{event.image}}" style="width:40px;height:40px;"></div>
                          </div>
                            <div class="article-post">
                                <span class="user-info"> <b><a href ng-click="stateNav('events.info',{id: event._id})">{{event.name}}</a></b><span class="pull-right">{{event.starts_at | date:'dd MMM, yy HH:mm'}} - {{event.ends_at | date:'HH:mm'}}</span></span>
                                <p>{{event.description | limitTo: 200}}<span ng-if="event.description.length>200">...</span></p>
                                <p><span class="label" style="background-color:#1988b9">{{event.type | capitalize}}</span> at {{event.location.name | capitalize}}</p>
                            </div>
                          </li>
                    </ul>
                </div>
                <div class="widget-content" ng-if="pastEvents.length==0">
                    You have no Past Events
                </div>
            </div>

        </div>

        <!-- Right Side -->
        <div class="span6">

        </div>
    </div>


    <!--End-Action boxes-->

</div>
